<div class="container">
  <div style="height: 150px; width: 200px">
      <div uib-carousel active="$ctrl.active" interval="$ctrl.myInterval" no-wrap="$ctrl.noWrapSlides">
          <div uib-slide ng-repeat="slide in $ctrl.slides track by slide.id" index="slide.id">
              <img ng-src="{{slide.image}}" style="margin:auto;">
              <!-- <div class="carousel-caption">
                  <h4>{{slide.name}}</h4>
                  <p>{{slide.text}}</p>
              </div> -->
          </div>
      </div>
  </div>
</div>
